<!DOCTYPE html>
<html lang="en" dir="ltr">
  <script>
  async function callClick(){
    let response = await fetch('http://localhost:8000/click/',{
      method: 'GET'
    });
    let answer = await response.json();
    document.getElementById("data").innerHTML = answer;
  }

  </script>
  <head>
  <meta charset="utf-8">
    <title>Title </title>
  </head>
  <body>
    <div align="center">
      <header><h3> Welcome, {{user.username}}! </h3>
      <div class="logout"><a href="/logout">LOGOUT</a></div>
      <h1>You have <div id="data">{{mainCycle.coinsCount}}</div> coins </h1>
      </header>
      <button onclick="callClick()"> <h1> Click me </h1> </button>
    </div>
  </body>
</html>
