{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <div>
      <title >Title </title>
    </div>
  </head>
  <body onload="getUser({{user.id}})">
     <main>

      <div align='center'>
        <h3> Welcome, <div id="user">%user%<div/>! </h3>
        <div class="logout"><a href="/logout">LOGOUT</a></div>
        <h3> Your click power is <div id="clickPower">{{mainCycle.clickPower}}</div> </h3>
        <h3>You have <div id="data">%coins%</div> coins </h3>
        <input type="image" class="catgirl" src="{% static 'images/catgirl.png' %}" onclick="callClick()" />
        <input type="image" class="catgirl boost" src="{% static 'images/boost.jpg' %}" onclick="buyBoost()" />
      </div>

    </main>
  </body>
</html>
